<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <h1>登录页面</h1>
    <input type="text" v-model="user.username" placeholder="用户名"><br>
    <input type="password" v-model="user.password" placeholder="密码"><br>
    <input type="checkbox" v-model="user.rem">记住用户名和密码<br>
    <input type="button" value="登录" @click="login()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
    let v = new Vue({
        el: "body>div",
        data: {
            user: {
                username: "",
                password: "",
                rem: false
            }
        },
        methods: {
            login() {
                axios.post("/login", v.user).then(function (response) {
                    if (response.data == 1) {
                        alert("登录成功!");
                        location.href = "/";//显示首页
                    } else if (response.data == 2) {
                        alert("用户名不存在!");
                    } else {
                        alert("密码错误!");
                    }
                })
            }
        },
        created: function () {
            //取出cookie里面的数据并显示到页面中  username=tom; password=123456
            let cookieArr = document.cookie.split(";");
            for (let cookie of cookieArr) {
                let arr = cookie.split("=");
                let name = arr[0].trim(); //去掉两边的空格
                let value = arr[1];
                if (name=="username"){
                    this.user.username = value;
                }else if(name=="password"){
                    this.user.password = value;
                }
            }
        }
    })
</script>
</body>
</html>