<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h1>添加商品页面</h1>
  <input type="text" v-model="product.title"  placeholder="商品标题">
  <input type="text" v-model="product.price" placeholder="商品价格">
  <input type="text" v-model="product.num" placeholder="商品库存">
  <input type="button" value="添加商品" @click="insert()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
   let v = new Vue({
     el:"body>div",
     data:{
        product:{
          title:"",price:"",num:""
        }
     },
     methods:{
       insert(){
         axios.post("/insert",v.product).then(function (response) {
           alert("添加完成!");
           location.href = "/";//显示首页
         })
       }
     }
   })
</script>
</body>
</html>