<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
  <h1>修改商品页面</h1>
  <input type="text" v-model="p.id" placeholder="id" readonly>
  <input type="text" v-model="p.title" placeholder="标题">
  <input type="text" v-model="p.price" placeholder="价格">
  <input type="text" v-model="p.num" placeholder="库存">
  <input type="button" value="修改" @click="update()">
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="https://cdn.staticfile.org/vue/2.2.2/vue.min.js"></script>
<script>
   let v = new Vue({
     el:"body>div",
     data:{
         p:{id:1,title:"手机",price:2000,num:50}
     },
       created:function () {
           //通过修改商品的id查询商品的所有信息   /selectById?id=5
           axios.get("/selectById"+location.search).then(function (response) {
               //把通过id查询到的商品对象 赋值给Vue里面的变量,页面会自动发生改变
                v.p = response.data;
           })
       },
       methods:{
           update(){
               //发出修改请求
               axios.post("/update",v.p).then(function (response) {
                   alert("修改完成!");
                   location.href="/list.html";//回到列表页面
               })
           }
       }
   })
</script>
</body>
</html>