<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <!-- import CSS -->
  <link rel="stylesheet" href="https://cdn.staticfile.org/element-ui/2.15.9/theme-chalk/index.css">
</head>
<body>
<div id="app">
<h1>上传页面</h1>
  <!--name代表发请求时参数的名称
  action代表请求地址 -->
  <!--:on-success的作用是这是上传组件,
  上传成功时调用的方法为handleSuccess方法-->
  <el-upload
          name="pic"
          action="/upload"
          list-type="picture-card"
          :on-success="handleSuccess"
          :on-preview="handlePictureCardPreview"
          :on-remove="handleRemove">
    <i class="el-icon-plus"></i>
  </el-upload>
  <el-dialog :visible.sync="dialogVisible">
    <img width="100%" :src="dialogImageUrl" alt="">
  </el-dialog>
  <hr>
  <!--response = file.response 代表服务器响应的图片路径-->
  <!--<img v-for="file in arr" :src="file.response" alt="">-->
  <input type="text" v-model="intro" placeholder="图片描述...">
  <input type="button" value="发布图片" @click="send()">
</div>
</body>
<script src="https://cdn.bootcdn.net/ajax/libs/axios/0.21.1/axios.min.js"></script>
<!-- import Vue before Element -->
<script src="https://cdn.staticfile.org/vue/2.6.14/vue.min.js"></script>
<!-- import JavaScript -->
<script src="https://cdn.staticfile.org/element-ui/2.15.9/index.min.js"></script>
<script>
  let v = new Vue({
    el: '#app',
    data: function () {
      return {
        dialogImageUrl: '',
        dialogVisible: false,
        url:"",
        arr:[],
        intro:""
      }
    },
    methods: {
      send(){

          //发请求 把图片路径和图片描述一起提交到服务器
        //v.arr.toString()是把数组中多个图片路径字符串 拼成了一个字符串
        let image = {intro:v.intro,urls:v.arr.toString()}
       axios.post("/insert",image).then(function () {
         alert("上传完成!");
         location.href = "/";
       })
      },
      handleRemove(file, fileList) {
        console.log(file, fileList);
        //当页面中删除图片的时候需要向服务器发出删除请求,让服务器把files文件夹中的图片也删除掉
        axios.get("/remove?url="+file.response).then(function (response) {
          console.log("删除完成!");
        })
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      handleSuccess(response,file,fileList){
        //response代表上传成功时服务器响应的数据,
        //file代表的是当前上传成功的文件对象
        //fileList代表的是上传成功的所有文件对象(数组)
        console.log("图片上传成功! 图片路径="+response);
        //把响应的图片路径给到变量url 这样页面中的图片就可以显示出来
        // v.url = response;
        // response=file.response
        v.url = file.response;
        //file.response代表上传成功的图片路径
        v.arr.push(file.response);





      }
    }
  })
</script>
</html>